@import "tailwindcss";

@theme {
  --font-mono: "Geist Mono", monospace;
  --font-display: "Geist Mono", monospace;

  --color-black: #050505;
  --color-white: #ffffff;

  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #e5e5e5;
  --color-gray-400: #a3a3a3;
  --color-gray-500: #737373;
  --color-gray-800: #262626;
  --color-gray-900: #171717;
}

@utility cursor-blink {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}

/* Selection Style */
::selection {
  background: #000000;
  color: white;
}
